* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 40rem;
  background-color: #1f1f1f;
  padding: 2.6rem;
  border-radius: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 30%;
  margin-bottom: 2.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.place {
  font-size: 1.3rem;
  color: #c5f82a;
  margin-bottom: 2.6rem;
}
.role {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}
.btn {
  color: #fff;
  background-color: #333333;
  border: none;
  padding: 0.9rem 9rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #c5f82a;
  color: #141414;
}
